.action{
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    color:#FFFFFF;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

/* Teste para colocar a imagem 
.action::before{
    content: "";
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-image: url("../../assets/img/bullet.png");
    background-size: cover;
    background-position: center;
}
Fim do teste */

#bullet{
    margin-right: 6px;
    margin-bottom: 1px;
}
