.action{
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    color:#FFFFFF;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}


#bullet{
    margin-right: 6px;
    margin-bottom: 1px;
}
