.banner{
    display: flex;
    box-sizing: border-box;
    background-image: url(../../assets/img/teste.jpg);
    background-repeat: no-repeat;
    background-size: 2000px 960px;
    width: auto;
    height: 960px;
    border-bottom: 10px solid #000000;
    padding-left: 91px;
    padding-top: 116px;
}

.banner .wrapper{
    display: inline-flex;
    flex-direction:column;
    width: 640px;

}

.banner #box{
    margin-bottom: 40px;
}

.banner .navigation{
    display: flex;
    justify-content: space-evenly;
}