.carrossel{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding-left: 85px;
    padding-right: 85px;
    overflow: hidden; /* respeita as limitações */
}

.carrossel::after{
    content: '';
    position: absolute;
    display: block;
    left: 50px;
    top: 38px;
    height: 6px;
    width: calc(100% - 100px);
    background-color: #000;
}

.carrossel::before{
    content: '';
    position: absolute;
    display: block;
    top: 38.5px;
    left: 0px;
    width: calc(100% - 4px);
    border: 2.8px dashed;
}

.carrossel .button-arrow{
    position: absolute;
    bottom: 70px;
    transform: translateY(50%);
}

.carrossel .button-arrow.-e{
    left: 15px;
}

.carrossel .button-arrow.-d{
    right: 15px;
}

.carrossel .item{
    width: 100%;
    overflow: hidden;

}

.carrossel .elements{
    display: flex;
    justify-content: space-evenly;
    transition: transform 250ms ease-in-out;
}