.skill{
    display: flex;
    font-family: 'Press Start 2P',monospace;
    font-size: 25px;
    color: #fff;
}

.skill .icon{
    margin-right: 25px;
}

.skill .right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
